#quadro{
  min-height: 30vh;
}

.bg-quadro{
background-color: rgb(107,210, 247);

}

.bg.nota{

  background-color: rgb(240,254, 77);

}

.btn-circle {
  font-weight: 800;
  width: 100px;
  height: 100px;
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 40px;
  text-align: center;
}

.plus-btn {
  position: absolute;
  left: 80%;
  top: 50%;

}

