main{
  border: solid 3px rgb(233, 21, 21);
  margin: 70px;
  padding: 20px;
  border-radius: 10px;


}

.titulo-home{
  color: red;
  size: 30px;
  border-bottom: solid 3px #000;
}

.conteudo{
  text-align: justify;
}
