  .menu{
    position: relative;
    display: block;
  }

  .menu ul{
    list-style-type: none ;
  }

  .menu ul li{
    display: inline-block;
    width: 40px;
    margin: 0;
    padding: 10px;
    background-color: #ccc;
  }

  .menu ul li a {
    text-decoration: none;
    color: #fff;
  }
