<table class="table table-hover">
  <thead>
    <td>#</td>
    <td>Nome</td>
    <td>Ano</td>
    <td>Actions</td>
  </thead>

  <tbody>
    <tr *ngFor="let aluno of listaAlunos$ | async" >
      <td> {{aluno.id}} </td>
      <td> {{aluno.pessoa?.nome}} </td>
      <td> {{aluno.ano}} </td>
      <td>
        <div class="container-fluid">
          <div class="col">
            <button class="btn btn-sma btn-info">Ver</button>
            <a routerLink="/aluno-edit/{{aluno.id}}" class="btn btn-sma btn-warning">Edit</a>
            <button (click)="delete(aluno.id)" class="btn btn-sma btn-danger">Delete</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
