#content-footer{
  border-top:2px solid rgb(3, 28, 128) ;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#copy{
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
  background-color: #ccc;
}

#copy h6{

  font-style: italic;

}
